<%= form_for @element do |f| %>

  <div class="row">
    <div class="column small-8">
      <div class="model-title">
        <h2><%= t '.title' %></h2>
      </div>
    </div>
    <div class="column small-4">
      <div class="list-new-action"> <h4> <%= link_to 'Cancel', static_pages_path %>  Save </h4></div>
    </div>
  </div>

  <div class="row">
    <div class="column small-12">
      <div class="model-body">
        <div class="form-body">
          <%= render partial: 'form_model_base_fields', locals: { f: f} %>
        </div>
      </div>
    </div>
  </div>
<% end %>
