<div class="row">
  <div class="column small-12">
    <div class="model-body">
      <div class="row">
        <div class="column small-9">
            <h4> <%= @element.name %> </h4>
        </div>
        <div class="column small-1">
          <row> NO </row>
          <row> <%= @element.number %> </row>
        </div>
        <div class="column small-2">
            Status
        </div>
      </div>
    </div>
  </div>
</div>
