<main>
<div class="row">
  <div class="column small-8">
    <h2><%= t '.title' %></h2>
  </div>
  <div class="column small-4">
    <div class="list-new-action"> <h4> <%= link_to 'New', new_recommendation_path(Recommendation.new) %>  </h4></div>
  </div>
</div>


<div class="row">
  <div class="column">
      <div class="list-controls"
        <h1>This is the search area</h1>
      </div>
  </div>
</div>


<% @recommendations.each do |recommendation|  %>
  <%= render partial: "recommendation_card", locals: { recommendation: recommendation} %>
<% end %>
</main>
