$authentication-form-padding: $global-padding;
$authentication-form-radius: $global-radius;
$authentication-form-border: $code-border;

.authentication-form {
  @include vertical-center;
  width: inherit;
  background-color: white;
  border: $authentication-form-border;
  padding: $authentication-form-padding !important;
  border-radius: $authentication-form-radius;
}
