.list-controls {
  border-bottom: $dark-gray 2px solid;
}


.card {
  box-shadow: 2px 2px 2px 2px $dark-gray;
  background-color: $white;
  margin: 10px 0;
}

.card-checkbox{
  text-align: center;

}

.card-body {
border-left: $dark-gray 2px solid;
}

.card-title{
  padding: 2px;
  font-weight: bold;
}

.card-tags{
  padding: 2px;

}

.model-body {
  box-shadow: 2px 2px 2px 2px $dark-gray;
}

.field-body{
  background-color: $white;
}
