.sitewide-header {
  background: #fff;
  border-bottom: solid 1em $dark-gray;
  @include grid-row(null, null, 100%);
  padding: $global-padding;


  &--logo {
    @include grid-column(1);
    max-width: 100%;
  }

  &--title {
    text-align: right;
    font-size: 2em;
    font-weight: 200;
    @include grid-column(11);
  }
}
