<main>
  <div class="row">
    <div class="column small-8">
      <h2><%= t('indicators') %></h2>
    </div>
    <div class="column small-4">
      <div class="list-new-action">
      <% if policy(:indicator).new? %>
        <h4><%= link_to t('new'), new_indicator_path(Indicator.new) %></h4></div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="column">
        <div class="list-controls"
          <h1>This is the search area</h1>
        </div>
    </div>
  </div>


  <% @indicators.each do |indicator|  %>
    <%= render partial: "indicator_card", locals: { indicator: indicator} %>
  <% end %>
  <%= paginate @indicators %>
</main>
