<main>
  <div class="row">
    <div class="column small-8">
      <h2><%= t('taxonomies') %></h2>
    </div>
  </div>

  <% @taxonomies.each do |taxonomy|  %>
    <%= render partial: "taxonomy_card", locals: { taxonomy: taxonomy } %>
  <% end %>
</main>

