<div class="sitewide-header">
  <%= image_tag "logo.svg", alt: t('sitewide_header.logo.alt'), class: "sitewide-header--logo" %>
  <h1 class="sitewide-header--title">
    <%= t('sitewide_header.title.main') %>
    <br />
    <small><%= t('sitewide_header.title.sub') %></small>
  </h1>
</div>
