<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "application/page_head" %>
  </head>

  <body>
    <%= render "application/sitewide_header" %>
    <%= render "application/flash" %>

    <%= yield %>

  </body>
</html>
