<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "application/page_head" %>
  </head>

  <body>
    <%= render "application/flash" %>
    <div class="row">
      <div class="medium-6 medium-centered large-4 large-centered columns">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
